.container {
  width: 30px;
  height: 30px;
}

.image,
.noImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--font-medium);
  color: var(--color-white);
  background-color: var(--color-light-grey);
}

@media screen and (min-width: 768px) {
  :root {
    --font-medium: 24px;
  }

  .container {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-medium: 28px;
  }

  .container {
    width: 50px;
    height: 50px;
  }
}
