.carousel {
  width: 260px;
  margin: 0 auto;
}

.image__container {
  width: 260px;
  height: 195px;
}

.image {
  width: 100%;
  border-radius: var(--size-border-radius-big);
}

@media screen and (min-width: 768px) {
  .carousel {
    width: 340px;
    margin: 0 auto;
  }

  .image__container {
    width: 340px;
    height: 255px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    width: 800px;
    margin: 0 auto;
  }

  .image__container {
    width: 800px;
    height: 600px;
  }
}
