.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  max-width: 310px;
  margin: auto;
  text-align: center;
}

.title {
  margin-top: 30px;
}

.actionBtn {
  margin: 14px 0;
}

.footer {
  margin: 10px;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .home {
    max-width: 688px;
  }

  .title {
    margin-top: 50px;
  }

  .actionBtn {
    margin: 20px 0;
  }

  .footer {
    margin: 16px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .home {
    max-width: 1200px;
  }

  .title {
    margin-top: 70px;
  }

  .actionBtn {
    margin: 24px 0;
  }

  .footer {
    margin: 24px;
    margin-top: 28px;
  }
}
