.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.allworks,
.myworks {
  width: 46%;
  padding: 7px 0;
  padding-left: 14px;
  font-size: var(--font-regular);
  text-align: left;

  border: 1px solid var(--color-super-light-grey);
  background-color: var(--color-background);
  border-radius: var(--size-border-radius-btn);

  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

  transition: all var(--animation-duration) ease-in;
}

.allworks:hover,
.myworks:hover {
  color: var(--color-white);
  border: none;
  background-color: var(--color-blue);
  transform: scale(1.04);
}

.chevron {
  font-size: var(--font-regular);
  margin-right: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .allworks,
  .myworks {
    padding: 12px 0;
    padding-left: 18px;
  }

  .chevron {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .allworks,
  .myworks {
    padding: 16px 0;
    padding-left: 22px;
  }

  .chevron {
    margin-right: 20px;
  }
}
