.heading {
  width: 100%;
  flex: 1 1 50%;
  padding: 40px 16px;
  text-align: center;
}

.description {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  :root {
    /* Font size - tablet */
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .heading {
    flex: 1 1 80%;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    /* Font size - tablet */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .heading {
    flex: 1 1 80%;
  }
}
