.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 50%;
  margin-bottom: 30px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 60%;
  padding: 10px 0;
  margin: 40px 0;

  color: var(--color-white);
  font-size: var(--font-regular);
  background-color: var(--color-dark-grey);
  border-radius: var(--size-border-radius-Superbig);
  transition: all var(--animation-duration) ease-in-out;
}

.button:hover {
  transform: scale(1.02);
  background-color: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .search {
    margin-bottom: 50px;
  }

  .button {
    padding: 18px 0;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    margin-bottom: 70px;
  }

  .button {
    padding: 22px 0;
    margin-top: 50px;
  }
}
