.container {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  color: var(--color-dark-pink);
  margin: auto;
}

.tweets {
  overflow-y: auto;
}

.newTweetForm {
  width: 100%;
  margin-top: 10px;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .tweets {
    /* padding: 20px 10px; */
  }

  .newTweetForm {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .tweets {
    /* padding: 24px 14px; */
  }

  .newTweetForm {
    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: center;
  }
}
