.container {
  width: 100%;
  height: 34px;
  display: flex;

  border: 1px solid var(--color-super-light-grey);
  border-radius: var(--size-border-radius-btn);
}

.input {
  width: 100%;
  flex: 1 1 72%;
  padding: 7px 5px;
  outline: none;
  border: none;
  font-size: var(--font-regular);
}

.input::placeholder {
  font-size: var(--font-regular);
}

.button {
  width: 100%;
  flex: 1 1 28%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 5px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .container {
    height: 50px;
  }

  .input {
    flex: 1 1 83%;
    padding: 12px 10px;
  }

  .button {
    flex: 1 1 17%;
  }

  .search {
    padding: 8px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .container {
    height: 64px;
  }

  .input {
    flex: 1 1 88%;
    padding: 16px 12px;
  }

  .button {
    flex: 1 1 12%;
  }

  .search {
    padding: 12px;
  }
}
