.container {
  flex: 1 1 54%;
  background-color: var(--color-background);

  display: flex;
  justify-content: center;
}

.signup {
  width: 100%;
  max-width: 70%;
  text-align: center;
}

.title {
  font-size: var(--font-medium);
}

.form__input__photo,
.form__input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: none;
  font-size: var(--font-regular);
  border-bottom: 1px solid var(--color-super-light-grey);
  background-color: var(--color-background);
}

.form__input__photo::placeholder,
.form__input::placeholder {
  font-size: var(--font-regular);
  color: var(--color-font-dark);
}

.form__input__photo {
  border: none;
}

.display {
  margin-bottom: 8px;
}

.fileUpload__wrap {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-super-light-grey);
  border-radius: var(--size-border-radius-big);
}

.message {
  color: var(--color-dark-pink);
}

.signupBtn {
  width: 100%;
  padding: 10px 0;
  margin: 16px 0;
  color: var(--color-white);
  font-size: var(--font-regular);
  background-color: var(--color-dark-grey);
  border-radius: var(--size-border-radius-big);
  transition: all var(--animation-duration) ease-in-out;
}

.signupBtn:hover {
  transform: scale(1.04);
  background-color: var(--color-blue);
}

.login__container {
  display: flex;
  justify-content: center;
}

.loginBtn {
  border-bottom: 1px solid var(--color-light-grey);
  margin-left: 12px;
  font-size: var(--font-small);

  transition: all var(--animation-duration) ease-in-out;
}

.loginBtn:hover {
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  border: none;
  padding: 6px 10px;
  border-radius: var(--size-border-radius-big);
  transform: scale(1.04);
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .container {
    flex: 1 1 40%;
    align-items: center;
  }

  .signup {
    width: 100%;
  }

  .title {
    margin-bottom: 24px;
    font-size: 40px;
  }

  .form__input__photo,
  .form__input {
    margin-bottom: 14px;
  }

  .form__input__photo {
    margin-bottom: 4px;
  }

  .fileUpload__wrap {
    height: 60px;
  }

  .message {
    margin-top: 10px;
  }

  .signupBtn {
    margin-top: 30px;
    margin-bottom: 14px;
    padding: 16px 0;
  }

  .loginBtn {
    margin-left: 18px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .title {
    margin-bottom: 38px;
  }

  .form__input,
  .form__input__photo {
    margin-bottom: 18px;
  }

  .form__input__photo {
    margin-bottom: 6px;
  }

  .display {
    margin-bottom: 14px;
  }

  .fileUpload__wrap {
    height: 80px;
  }

  .message {
    margin-top: 20px;
  }

  .signupBtn {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 18px 0;
  }

  .loginBtn {
    margin-left: 22px;
    padding: 0;
  }
}
