.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.upload {
  width: 100%;
  max-width: 310px;
  height: 100%;
  padding-top: 42px;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  margin: 30px auto;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.fileUpload__wrap,
.image__wrap {
  width: 150px;
  height: 120px;

  border-radius: var(--size-border-radius-big);
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.image__wrap {
  background-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--size-border-radius-big);
}

.plusIcon {
  font-size: var(--font-large);
}

.confirmDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.message {
  color: var(--color-dark-pink);
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
}

.cancelBtn {
  padding: 6px;
  font-size: var(--font-regular);
  border: 1px solid var(--color-super-light-grey);
  border-radius: var(--size-border-radius-btn);
  transition: all var(--animation-duration);
}

.cancelBtn:hover {
  transform: scale(1.04);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.form__label {
  color: var(--color-font-dark);
  background-color: var(--color-background);
  font-size: var(--font-regular);
}

.form__input {
  width: 100%;
  padding: 8px 5px;
  outline: none;
  border: 1px solid var(--color-super-light-grey);
  border-radius: var(--size-border-radius-btn);
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: var(--font-regular);
}

.form__input::placeholder {
  font-size: var(--font-regular);
  color: var(--color-super-light-grey);
  font-style: italic;
}

.submitBtn {
  width: 100%;
  color: var(--color-white);
  padding: 10px 0;
  margin-top: 30px;
  font-size: var(--font-regular);
  background-color: var(--color-dark-grey);
  border-radius: var(--size-border-radius-Superbig);
  transition: all var(--animation-duration) ease-in-out;
}

.submitBtn:hover {
  font-weight: var(--weight-bold);
  background-color: var(--color-blue);
  border: 1px solid var(--color-super-light-grey);
  transform: scale(1.02);
}

.footer {
  margin: 10px;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .upload {
    max-width: 688px;
    padding-top: 78px;
  }

  .title {
    margin: 50px auto;
  }

  .display {
    margin-bottom: 30px;
  }

  .fileUpload__wrap,
  .image__wrap {
    width: 330px;
    height: 248px;
  }

  .confirmDisplay {
    margin-bottom: 30px;
  }

  .cancelBtn {
    padding: 10px;
  }

  .form__input {
    padding: 14px 8px;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .submitBtn {
    padding: 18px 0;
    margin-top: 50px;
  }

  .footer {
    margin: 16px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .upload {
    max-width: 900px;
    padding-top: 94px;
  }

  .title {
    margin: 40px auto;
  }

  .display {
    margin-bottom: 30px;
    justify-content: space-around;
  }

  .fileUpload__wrap,
  .image__wrap {
    width: 380px;
    height: 280px;
  }

  .confirmDisplay {
    margin-bottom: 20px;
  }

  .cancelBtn {
    padding: 14px;
  }

  .form__input {
    padding: 18px 12px;
    margin-top: 12px;
    margin-bottom: 22px;
  }

  .submitBtn {
    padding: 22px 0;
    margin-top: 40px;
  }

  .footer {
    margin: 24px;
    margin-top: 28px;
  }
}
