.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.talk {
  width: 100%;
  max-width: 310px;
  height: 80%;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.selectedWork,
.tweets {
  flex: 1 1 50%;
  height: 50%;
}

.tweets {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.selectTweet {
  height: 10%;
}

.tweet {
  width: 100%;
  height: 80%;
  margin: auto;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .talk {
    width: 94%;
    max-width: 760px;
    height: 70%;
    flex-direction: row;
  }

  .selectedWork,
  .tweets {
    height: 100%;
  }

  .tweets {
    padding-top: 0;
    margin-left: 14px;
  }

  .tweet {
    height: 90%;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .talk {
    width: 100%;
    max-width: 1200px;
  }

  .tweets {
    margin-left: 60px;
  }
}
