.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.talk {
  width: 100%;
  max-width: 310px;
  height: 100%;
  padding-top: 54px;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.selectedWork,
.tweets {
  flex: 1 1 50%;
}

.tweets {
  display: flex;
  flex-direction: column;
}

.tweet {
  width: 100%;
  flex: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;
  }

  .talk {
    width: 100%;
    max-width: 760px;
    height: 60%;
    padding-top: 0;
    flex-direction: row;
  }

  .tweets {
    margin-left: 14px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }

  .talk {
    width: 100%;
    max-width: 1200px;
    height: 70%;
  }

  .tweets {
    margin-left: 60px;
  }
}
