.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--size-border-radius-big);
}

.message {
  color: var(--color-font-dark);
  font-size: var(--font-regular);
}
